<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="row" >
		<div class="top_panel navbar-fixed-top">
			<div class="left_title">Jake Pham's Porfolio</div>
			<div class="right_title"> 
				<span class="top_link"><a href="#"><i class="icon-user animateLink1 fadeInDown"></i> ABOUT ME</a></span>
				<span class="top_link"><a href="#"><i class="icon-list animateLink2 fadeInDown"></i> SKILLS</a></span>
				<span class="top_link"><a href="#"><i class="icon-lock animateLink2 fadeInDown"></i> EXPERIENCE</a></span>
				<span class="top_link"><a href="#"><i class=" icon-th animateLink4 fadeInDown"></i> PORFOLIO</a></span>
				<span class="top_link"><a href="#"><i class="icon-envelope animateLink5 fadeInDown"></i> CONTACT</a></span>


		 	</div>


		</div>
	</div>
<%= yield %>



</body>
</html>
